.parent{
    background-color: red;
    width: 200px;
    height: 200px;
}
.child{
    background-color: green;
    width: 50px;
    height: 50px;
    animation: rotate 1000ms infinite alternate-reverse;
}
@keyframes rotate {
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(100px);
    }
}